{% extends "baseapp/base.html" %}
{% load static %}

{% block header %}

  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <link rel="icon" type="{% static "image/icone.png"%}" href="logo.png" />
      <title>Merci!</title>
      <meta name="description" content="checkout" />

    <link rel="stylesheet" href="{% static "css/foundation.css" %}">
    <link rel="stylesheet" href="{% static "css/app.css" %}">
  </head>

{% endblock %}

{% block title %}
    Thank you
{% endblock %}

{% block content %}
    <h1>Thank you</h1>
    <p>Your order has been succesfully completed. Your order number is <strong>{{ order.id }}</strong></p>
{% endblock %}